ul
  li: a.bc(href="//tushrecords.bandcamp.com/") bandcamp
  li: a.fb(href="//facebook.com/tushrec") facebook
  li: a.yt(href="//youtube.com/tushrecords") youtube
  li: a.contact(href='mailto:tushrecordings@gmail.com') contact
  li: a#play-video(href='#play-video') remember?
  include ../partials/_modal