meta(charset='utf8')
meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
meta(name='Tush Records', content='Fun w/ Tunes')
meta(name='Andrew Glassett', content= "Andrew Glassett")
meta(name="viewport" content="initial-scale=1")


    