#modal
  .modal-section
    h1 This is a modal example
    p and you found it wow nice work!
    iframe#video(width='560', height='315', src='//www.youtube.com/embed/iwSpn7H7vKg?rel=0&showinfo=0', frameborder='0', allowfullscreen='allowfullscreen')