extends layout

block content

  #home
    .release
      .pic
        img(src='img/irl_1-2.jpg' alt='An experimental techno explosion that plays with robots, modular synths, and technology.')
      .text
        h1 Nolens Volens - I R L 1 & 2 
        .meta
          h4 Release Date: 05/20/2016 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/45bmjdihhw9EaZBnc1kSKa' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/i-r-l-1-2-single/id1113501736' target='_blank') iTunes
              li
                a.btn(href='https://tushrecords.bandcamp.com/album/i-r-l-1-2' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/all_night.jpg' alt='')
      .text
        h1 // (SHSHA) & Get2knoTiff - All Night
        .meta
          h4 Release Date: 2/29/2016 | Label: Black Currant
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/1T4cIdlK525TdDzFpCqktq' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/all-night-single/id1089797302' target='_blank') iTunes
              //- li
              //-   a.btn(href='#' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/nowhere_mountain.jpg')
      .text
        h1 nonnon - Nowhere Mountain Soundtrack Vol.1  
        .meta
          h4 Release Date: 2/19/2016 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/69fvWIEOYmdJMzCgwyHVfy' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/nowhere-mountain-original/id1085398531' target='_blank') iTunes
              li
                a.btn(href='https://thenonnon.bandcamp.com/album/nowhere-mountain-the-soundtrack-so-far' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/dlisah.jpg')
      .text
        h1 Uzi & Ari - Don't Leave in Such a Hurry 
        .meta
          h4 Release Date: 1/22/2016 | Label: Black Currant
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/0qtIQXzTW7JuWX0qSFDD4M' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/dont-leave-in-such-a-hurry/id1074400352' target='_blank') iTunes
              //- li
              //-   a.btn(href='#' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/chipwimp_v.jpg')
      .text
        h1 VCR5 - CHIPWIMP V 
        .meta
          h4 Release Date: 1/14/2016 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/6jul5jIEi5AiMlTF4u02p0' target='_blank') Spotify
              //- li
              //-   a.btn(href='#' target='_blank') iTunes
              li
                a.btn(href='https://vcr5.bandcamp.com/album/chipwimp-v' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/littlefield.jpg')
      .text
        h1 Nolens Volens - Live at Littlefield 
        .meta
          h4 Release Date: 10/16/2015 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/2784PhC1DYMKfkqprUUATn' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/live-at-littlefield/id1078759791' target='_blank') iTunes
              li
                a.btn(href='https://nolensvolens.bandcamp.com/album/live-at-littlefield' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/memory_sale.jpg')
      .text
        h1 Carl Cassette - Memory Sale 
        .meta
          h4 Release Date: 09/21/2015 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/0jOL9aXE6ZXJ0NW6pHsoZP' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/memory-sale-ep/id1074395062' target='_blank') iTunes
              li
                a.btn(href='https://tushrecords.bandcamp.com/album/memory-sale' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/shsha_jawline.jpg')
      .text
        h1 // (SHSHA) - Jawline 
        .meta
          h4 Release Date: 08/07/2015 | Label: Parallels
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/2fEt4nE8fqHw4MqQocausb' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/jawline-ep/id1078047265' target='_blank') iTunes
    .release
      .pic
        img(src='img/namaste.jpg')
      .text
        h1 Handy - Namaste 
        .meta
          h4 Release Date: 04/25/2014 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://tushrecords.bandcamp.com/album/namaste' target='_blank') Bandcamp
              li
                a.btn(href='http://www.amazon.com/Namaste-Handy/dp/B00KC8XU6Q?ie=UTF8&keywords=handy%20namaste&qid=1463075331&ref_=sr_1_1&sr=8-1' target='_blank') Buy CD
                
    .release
      .pic
        img(src='img/sovereign_valley.jpg')
      .text
        h1 Carl Cassette - Sovereign Valley 
        .meta
          h4 Release Date: 01/01/2014 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/5zridslm72hEGNJkTurfua' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/sovereign-valley-ep/id1082607312' target='_blank') iTunes
              li
                a.btn(href='https://tushrecords.bandcamp.com/album/sovereign-valley' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/electric_signals.jpg')
      .text
        h1 Famous Relatives - Electric Signals 
        .meta
          h4 Release Date: 05/31/2013 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/6T3FY0fQemkxld1Z29VlTO' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/electric-signals/id1077544133' target='_blank') iTunes
              li
                a.btn(href='https://famousrelatives.bandcamp.com/' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/city_habits.jpg')
      .text
        h1 Carl Cassette - City Habits 
        .meta
          h4 Release Date: 02/08/2013 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/3vH9oQ8Bc7HkDWFi1mQt92' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/city-habits/id1093767336' target='_blank') iTunes
              li
                a.btn(href='https://tushrecords.bandcamp.com/album/city-habits' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/white_horse.jpg')
      .text
        h1 Handy - White Horse / Cuteness 
        .meta
          h4 Release Date: 09/05/2013 | Label: Tush Records
          .links
            ul
              //- li
              //-   a.btn(href='#' target='_blank') Spotify
              //- li
              //-   a.btn(href='#' target='_blank') iTunes
              li
                a.btn(href='https://tushrecords.bandcamp.com/album/white-horse-cuteness' target='_blank') Bandcamp
    .release
      .pic
        img(src='img/data_booty.jpg')
      .text
        h1 Data/Booty 
        .meta
          h4 Release Date: 05/04/2010 | Label: Tush Records
          .links
            ul
              li
                a.btn(href='https://open.spotify.com/album/1ScINl8cH6jubJHnjkMgyv' target='_blank') Spotify
              li
                a.btn(href='https://itunes.apple.com/us/album/data-booty/id918261844' target='_blank') iTunes
              li
                a.btn(href='https://nolensvolens.bandcamp.com/album/data-booty' target='_blank') Bandcamp
    .about
      p Tush Records distributes music and videos for many different labels and musicians. We are looking for great tunes to distribute. Give us a shout: andrew (at) tushrecords (dot) com. 



  
