extends layout

block content

  #home    
    .release
      .pic
        img(src='http://placehold.it/700x700')

      .text
        h1 Justo Porta Condimentum
        p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. 
      .player
        h1 Fun


    .release
      .pic
        img(src='http://placehold.it/700x700')





  //- a.btn#play-video(href='#') u may only see once
  //- include ../partials/_modal
  a.btn(href='/team.html') soundcloud
