extends layout

block content

  #home
    .release#handy
      .pic
        img(src='img/namaste.jpg')

      .text
        h1 Handy - Namaste
        .meta.date
          h4 release date:
            span 04/25/2014

        p This is so called yogatone. Stretch into that Warrior II pose and slowly breathe out. You are home now in your mind. Downdawg til the cows come home. 
        <iframe style="border: 0; width: 100%; height: 307px;" src="http://bandcamp.com/EmbeddedPlayer/album=896833184/size=large/bgcol=ffffff/linkcol=b10dc9/artwork=none/transparent=true/" seamless><a href="http://tushrecords.bandcamp.com/album/namaste">Namaste by Handy</a></iframe>

    .release#carl
      .pic
        img(src='img/sovereign_valley.jpg')

      .text
        h1 Carl Cassette - Sovereign Valley
        .meta.date
          h4 release date:
            span 01/01/2014

        //- p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
        <iframe style="border: 0; width: 100%; height: 274px;" src="http://bandcamp.com/EmbeddedPlayer/album=2119909621/size=large/bgcol=ffffff/linkcol=b10dc9/artwork=none/transparent=true/" seamless><a href="http://tushrecords.bandcamp.com/album/sovereign-valley">Sovereign Valley by Carl Cassette</a></iframe>

     .release
      .pic
        img(src='img/city_habits.jpg')

      .text
        h1 Carl Cassette - City Habits
        .meta.date
          h4 release date:
            span 02/18/2013

        //- p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
        <iframe style="border: 0; width: 100%; height: 406px;" src="http://bandcamp.com/EmbeddedPlayer/album=1136764140/size=large/bgcol=ffffff/linkcol=b10dc9/artwork=none/transparent=true/" seamless><a href="http://tushrecords.bandcamp.com/album/city-habits">City Habits by Carl Cassette</a></iframe>
        a.btn(href='http://www.rdio.com/artist/Carl_Cassette/') rdio 
        a.btn(href='https://play.spotify.com/artist/4KMSbIPfpWjWWgD48KDOUP') spotify 

    .release
      .pic
        img(src='img/white_horse.jpg')

      .text
        h1 Handy - White Horse / Cuteness
        .meta.date
          h4 release date:
            span 09/05/2013

        //- p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
        <iframe width="100%" height="315" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2669026&amp;color=b10dc9&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>



  
