extends layout

block content

  
  .story
    .pic
      img(src='http://placehold.it/700x600')

    .text
      h1 Good at business
      p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.


        include _modal
        a.btn#play-video(href='#') Play Video
        
  .story
    .pic
      img(src='http://placehold.it/700x600')

    .text
      h1 Donec ullamcorper nulla non metus auctor fringilla.
      p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      :markdown
        another sentence of stuff
        
  .secondary
    .left
      img(src='http://placehold.it/1200x600')
      :markdown
        great news 

    article
      img(src='http://placehold.it/1200x600')
      :markdown
        great news

    .right
      img(src='http://placehold.it/1200x600')
      :markdown
        so fun