extends layout

block content

  #home    
    .release#handy
      .pic
        img(src='img/namaste.jpg')

      .text
        h1 Handy - Namaste
        .meta.date
          h4 release date:
            span 01/04/2014

        p This is so called yogatone. Stretch into that Warrior II pose and slowly breathe out. You are home now in your mind. Downdog til the cows come home. 
        <iframe width="100%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3866625&amp;color=7FDBFF&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>

     .release#carl
      .pic
        img(src='img/city_habits.jpg')

      .text
        h1 Carl Cassette - City Habits
        .meta.date
          h4 release date:
            span 02/18/2013

        //- p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3754969&amp;color=7FDBFF&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>
        a.btn(href='http://www.rdio.com/artist/Carl_Cassette/') rdio 
        a.btn(href='https://play.spotify.com/artist/4KMSbIPfpWjWWgD48KDOUP') spotify 

    .release
      .pic
        img(src='img/white_horse.jpg')

      .text
        h1 Handy - White Horse / Cuteness
        .meta.date
          h4 release date:
            span 09/05/2013

        //- p Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
        <iframe width="100%" height="315" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2669026&amp;color=7FDBFF&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>



  
