extends layout

block content

  #team    
    .member
      .pic
        img(src='/img/nick.jpg')

      .description
        h1 Nick Foster
        :markdown
          You may know him as the multi-intrumentalist for [Palace of Buddies](http://palaceofbuddies.com), but he is very active in his recent role as [Carl Cassette](/#carl).

    .member
      .pic
        img(src='/img/andrew.jpg')

      .description
        h1 Andrew Glassett
        :markdown
          When not hiking in the snow with his doge, Andrew is busy making a lot of sounds. Previously [Nolens Volens](http://nolensvolens.bandcamp.com), he now goes by [Handy](/#handy) until he tires of that name and tries something else.
