extends layout

block content

  #videos    
    .video
      h1 Cras mattis consectetur purus
      iframe#video(width='560', height='315', src='//www.youtube.com/embed/iwSpn7H7vKg?rel=0&showinfo=0', frameborder='0', allowfullscreen='allowfullscreen')

    .video
      h1 Cras mattis consectetur purus
      iframe#video(width='560', height='315', src='//www.youtube.com/embed/iwSpn7H7vKg?rel=0&showinfo=0', frameborder='0', allowfullscreen='allowfullscreen')
