extends layout

block content

  #videos    
    .video
      h1 Handy - Vinyasa
      iframe#video(width='1000', height='588', src='//www.youtube.com/embed/RLs8ETrNeao?rel=0&showinfo=0?wmode=transparent', frameborder='0', allowfullscreen='allowfullscreen')

    .video
      h1 Handy - Safety
      iframe#video(width='1000', height='588', src='//www.youtube.com/embed/b1Vz0VZMvA0?rel=0&showinfo=0?wmode=transparent', frameborder='0', allowfullscreen='allowfullscreen')
