#home .release,
#team .release,
#home .member,
#team .member,
#home .release .pic,
#team .release .pic,
#home .member .pic,
#team .member .pic,
#home .release .text,
#team .release .text,
#home .member .text,
#team .member .text,
#videos .video {
  *zoom: 1;
}

#home .release:before,
#team .release:before,
#home .member:before,
#team .member:before,
#home .release .pic:before,
#team .release .pic:before,
#home .member .pic:before,
#team .member .pic:before,
#home .release .text:before,
#team .release .text:before,
#home .member .text:before,
#team .member .text:before,
#videos .video:before,
#home .release:after,
#team .release:after,
#home .member:after,
#team .member:after,
#home .release .pic:after,
#team .release .pic:after,
#home .member .pic:after,
#team .member .pic:after,
#home .release .text:after,
#team .release .text:after,
#home .member .text:after,
#team .member .text:after,
#videos .video:after {
  content: '';
  display: table;
}

#home .release:after,
#team .release:after,
#home .member:after,
#team .member:after,
#home .release .pic:after,
#team .release .pic:after,
#home .member .pic:after,
#team .member .pic:after,
#home .release .text:after,
#team .release .text:after,
#home .member .text:after,
#team .member .text:after,
#videos .video:after {
  clear: both;
}

@import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono");

article:,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section;
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

p,
pre {
  margin: 1em 0;
}

blockquote {
  margin: 1em 40px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dl {
  padding: 0;
}

dd {
  margin: 0 0 0 40px;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-size: 16px;
  font-size: 100%;
}

body {
  font-family: 'Droid Sans Mono', sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}

html {
  font-family: 'Droid Sans Mono';
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: #b10dc9;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover,
a:visited:hover {
  background: #f7fe88;
}

a.btn {
  font-size: 10px;
  padding: 8px 17px;
  border-radius: 2px;
  background-color: #7fdbff;
  color: #494949;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Droid Sans Mono', sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1em 1em 1em 0em;
  outline: none;
}

a.btn:hover,
a.btn:focus {
  background-color: #6cd6ff;
  color: #474747;
}

a.btn:active {
  background-color: #59d0ff;
}

h1 {
  margin: 0 0 0.3em 0;
}

h4 {
  font-size: 0.7em;
  margin: 0;
}

#modal {
  display: none;
  width: 65%;
  background: #fff;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 10px #222;
  box-shadow: 0 0 10px #222;
}

a.close-modal {
  display: none;
}

header {
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 0 40px #f5f5f5;
  box-shadow: 0 0 40px #f5f5f5;
}

@media only screen and (max-width: 500px) {
  header {
    position: relative;
  }
}

header nav a {
  padding: 1.5em 1.25em 1.5em 1.25em;
  display: block;
  float: left;
}

@media only screen and (max-width: 500px) {
  header nav a {
    float: none;
    text-align: center;
  }
}

header nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

header nav ul:before,
header nav ul:after {
  content: "";
  display: table;
}

header nav ul:after {
  clear: both;
}

header nav ul li {
  float: left;
  margin-right: 20px;
  list-style-type: none;
}

header nav ul li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 500px) {
  header nav ul {
    text-align: center;
    float: none;
  }
}

header nav ul li {
  margin: 0;
}

@media only screen and (max-width: 500px) {
  header nav ul li {
    width: 100%;
  }
}

header nav ul li a,
header nav ul li a:visited {
  padding: 1.5em 1.25em 1.5em 1.25em;
  display: block;
}

header nav ul li a:hover,
header nav ul li a:visited:hover {
  background: #f7fe88;
}

@media only screen and (max-width: 500px) {
  header nav ul li a,
  header nav ul li a:visited {
    width: 100%;
    padding: 1em;
  }
}

footer {
  -webkit-box-shadow: 40px 0 0 #f5f5f5;
  box-shadow: 40px 0 0 #f5f5f5;
  background: #f5f5f5;
  display: block;
}

footer ul {
  margin: 0;
  padding: 0;
  float: left;
}

footer ul:before,
footer ul:after {
  content: "";
  display: table;
}

footer ul:after {
  clear: both;
}

footer ul li {
  float: left;
  margin-right: 20px;
  list-style-type: none;
}

footer ul li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 500px) {
  footer ul {
    text-align: center;
    float: none;
  }
}

footer ul li {
  margin: 0;
}

@media only screen and (max-width: 500px) {
  footer ul li {
    width: 100%;
  }
}

footer ul li a,
footer ul li a:visited {
  padding: 1.5em 1.25em 1.5em 1.25em;
  display: block;
}

footer ul li a:hover,
footer ul li a:visited:hover {
  background: #f7fe88;
  border-bottom: none;
}

@media only screen and (max-width: 500px) {
  footer ul li a,
  footer ul li a:visited {
    width: 100%;
    padding: 1em;
  }
}

#home,
#team {
  padding: 5em 1em;
}

@media only screen and (max-width: 500px) {
  #home,
  #team {
    padding: 2em 1em;
  }
}

#home .release,
#team .release,
#home .member,
#team .member {
  margin: 4em 0;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 500px) {
  #home .release,
  #team .release,
  #home .member,
  #team .member {
    margin: 0em;
  }
}

#home .release .pic,
#team .release .pic,
#home .member .pic,
#team .member .pic {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}

#home .release .pic:last-child,
#team .release .pic:last-child,
#home .member .pic:last-child,
#team .member .pic:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 800px) {
  #home .release .pic,
  #team .release .pic,
  #home .member .pic,
  #team .member .pic {
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }

  #home .release .pic:last-child,
  #team .release .pic:last-child,
  #home .member .pic:last-child,
  #team .member .pic:last-child {
    margin-right: 0%;
  }
}

#home .release .text,
#team .release .text,
#home .member .text,
#team .member .text {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}

#home .release .text:last-child,
#team .release .text:last-child,
#home .member .text:last-child,
#team .member .text:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 800px) {
  #home .release .text,
  #team .release .text,
  #home .member .text,
  #team .member .text {
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }

  #home .release .text:last-child,
  #team .release .text:last-child,
  #home .member .text:last-child,
  #team .member .text:last-child {
    margin-right: 0%;
  }
}

#home h4>span,
#team h4>span {
  background: #f5f5f5;
  padding: 0.5em 0.5em;
  margin: 0 0 0 0.5em;
}

#home .meta.date,
#team .meta.date {
  margin-bottom: 0.3em;
}

#videos {
  padding: 5em 1em;
}

@media only screen and (max-width: 500px) {
  #videos {
    padding: 2em 1em;
  }
}

#videos .video {
  background: #f5f5f5;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 20px;
  margin-bottom: 10px;
}