@import '_settings'

normalize-css()
base()
html
  font-family: 'Droid Sans Mono'
*
  box-sizing: border-box

img
  max-width: 100%

a, a:visited
  text-decoration: none
  color: purple
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  &:hover
    background: yellow;

a.btn
  $button(white, small)
  margin: 1em 1em 1em 0em
  padding: 1em
  color: purple
  border: 1px dotted purple
  border-radius: 4px
  font-size: .75em
  &:hover
    background: purple
    color: white

h1
  margin: 0 0 .3em 0
  font-size: 1.5em
h4
  font-size: .7em
  margin: 0

#modal
  display: none
  width: 65%
  background: #fff
  border-radius: 0px
  box-shadow: 0 0 10px black

a.close-modal
  display: none

header
  background-color: whitesmoke
  position: fixed
  width: 100%
  box-shadow: 0 0 40px whitesmoke
  +below(mobile)
    position: relative
  nav
    a
      padding: 1.5em 1.25em 1.5em 1.25em
      display: block
      float: left
    span
      a
        text-decoration: underline
      +below(mobile)
        float: none
        text-align: center
    ul
      inline-list()
      float: right
      +below(mobile)
        text-align: center
        float: none
      li
        margin: 0
        +below(mobile)
          width: 100%
        a, a:visited
          padding: 1.5em 1.25em 1.5em 1.25em
          display: block
          &:hover
            background: yellow;
          +below(mobile)
            width: 100%
            padding: 1em

footer
  box-shadow: 40px 0 0 whitesmoke
  background: whitesmoke
  display: block
  ul
    inline-list()
    float: left
    +below(mobile)
      text-align: center
      float: none
    li
      margin: 0
      +below(mobile)
        width: 100%
      a, a:visited
        padding: 1.5em 1.25em 1.5em 1.25em
        display: block
        &:hover
          background: yellow;
          border-bottom: none
        +below(mobile)
          width: 100%
          padding: 1em

#home
  padding: 5em 1em
  center(1000px)
  +below(mobile)
    padding: 0em
  .release
    border: 1px dotted purple
    margin: 2em 0
    +below(mobile)
      margin: 2em 0.5em
    center()
    .pic
      col(1/5)
      +below(800px)
        col()
    .text
      col(4/5)
      padding: 1em
      .meta
        padding: 0em 0em
        .links
          ul
            margin: 0
            padding: 0
            li
              display: inline-block
              margin: 1em 0em
      +below(800px)
        col()
        padding: 1em


  h4>span
    background: whitesmoke
    padding: .5em .5em
    margin: 0 0 0 .5em
  .meta.date
    margin-bottom: .3em
  .about
    padding: 2em

#index
  margin-top: 5em
  col()
  .artists
    col(1/2)
    width: 50%
    background:red
    margin: 0
  .distro
    col(1/2)
    width: 50%
    background: blue
    margin: 0
